<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- MySql -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/hc</property>
		<property name="connection.username">root</property>
		<!-- <property name="connection.password">root</property> -->


		<!-- Use the C3P0 connection pool provider -->
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>

		<!-- Show and print nice SQL on stdout -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="default_schema">hc</property>
		
		<!-- <mapping resource="hc.hbm.xml"></mapping> -->
		<!-- List of XML mapping files -->
		<mapping class="com.haicai.domain.User" />
		<mapping class="com.haicai.domain.Contact" />
		<mapping class="com.haicai.domain.PersonalHistory" />
		<mapping class="com.haicai.domain.Award" />
		<mapping class="com.haicai.domain.JobAsked" />
		<mapping class="com.haicai.domain.Enterprise" />
		<mapping class="com.haicai.domain.Project" />
		<mapping class="com.haicai.domain.EnterpriseDetail" />
		<mapping class="com.haicai.domain.Media" />
		<mapping class="com.haicai.domain.JobPosted" />
	</session-factory>
</hibernate-configuration>